/Ultima/bin
/Ultima/obj
/Server/bin
/Server/obj
/Scripts/bin
/Scripts/obj
/Scripts/Output
/Logs
/Backups
/Client
/Saves
/Web
/Docs
/Reports
/VitaNexCore
/TheBox
/Info
/.vs/

/staffHistory.xml
/reportHistory.xml
/firewall.cfg

/Ultima.dll

*.pdb
*.exe
*.exe.mdb
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user